@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.naslov {
	/* text style */
	font-size: 30px;
	color: white;
	
	/* za centriranje */
	display: flex;
	justify-content: center;
	align-items: center;
	/* Za animaciju */
	animation: fadeIn 2s ease-in-out;
}

.h2_text {
	color: white;
}	

body{
	background-color: black;
}

.insta_reel {
	/* Manually set aspect ratio to match Instagram reel (480px width and 854px height) */
	position: absolute;
	top: 20vh; /* Adjust this value to position it where you want */
	left: 50%; /* Adjust this value to position it where you want */
	transform: translateX(-50%);
	width: 480px;
	height: 854px;
	object-fit: cover; /* Preserve aspect ratio */
}
